<div class="ui text menu">
    <div class="item">
        {% include '@EasyShop/front/Product/_starRating.html.twig' %}
    </div>
    <a href="{{ path('easy_shop_product_review_index', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="item">{{ product.acceptedReviews|length }} {{ 'sylius.ui.reviews'|trans }}</a>
    <a href="{{ path('easy_shop_product_review_create', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="item">{{ 'sylius.ui.add_your_review'|trans }}</a>
</div>
