{% extends "@!EasyPage/front/pages/default.html.twig" %}

{% block easy_page_page_content %}
{#    {{ easy_menu('default') }}#}
    <section>
        <article>
            <h1 class="mb-5">{{ page.name }}</h1>
            <div class="content">
                {{ easy_block('fghfdghfd', {
                    'title': "over"
                }) }}
                {% for block in page.content %}
                    {{ easy_editor_block(block) }}
                {% endfor %}
            </div>
        </article>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ easy_block_assets() }}
    {{ easy_editor_assets() }}
{% endblock %}
